absl-py==2.0.0
astunparse==1.6.3
blinker==1.6.2
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
contourpy==1.1.1
cycler==0.11.0
dnspython
efficientnet
Flask-Cors
Flask-Login
flask
flatbuffers
fonttools
gast
google-auth-oauthlib
google-auth
google-pasta
grpcio
h5py
idna
imageio
importlib-metadata
itsdangerous
Jinja2
Keras-Applications
keras
kiwisolver
lazy-loader
libclang
Markdown
MarkupSafe
matplotlib
ml-dtypes
mongoengine
networkx
numpy
oauthlib
opt-einsum
packaging
Pillow
pip
protobuf
pyasn1-modules
pyasn1
PyJWT
pymongo
pyparsing
python-dateutil
PyWavelets
requests-oauthlib
requests
rsa
scikit-image
scipy
setuptools
six
tensorboard-data-server
tensorboard
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
tensorflow
termcolor
tifffile
typing-extensions
urllib3
werkzeug
wheel
wrapt
zipp
